/****************************

COMMON

*****************************/

body {
    font-family: "monospace", sans-serif;
}

.font-primary {
    color: #A42828;

}

.title-icon {
    font-size: 40px;
    font-weight: bold;
}